@font-face {
  font-family: "Distort";
  font-style: normal;
  src: local("Distort"),
  url(/assets/font/DistortYouALesson.ttf) format("truetype");
  font-display: swap;
}

body {
  font-family: 'Distort', cursive;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  ::-webkit-scrollbar {
    display: none;
  }
}